.image-product-list {

    .delete-image-item {
        margin-top: 4px;
        width: 25px;
        height: 25px;
        background: #ddd;
        border-radius: 50%;
        text-align: center;
        float: right;
        cursor: pointer;
    }
}