
.shoes-body {

    .shoes-container {
        overflow-x: clip;
        
        .options {

            .options-list {
                position: sticky;
                top: 90px;

            }
        }
    }
}

@keyframes showOptions {
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(20px);
    }
}