.product-search-by-name {

    .product-search-by-name-container {

        .product-count {
            span {
                font-size: 24px;
                color: #000;
                font-weight: 600;
            }
        }
    }
}