.SliderHomePage {
    overflow-x: hidden;
    outline: none;
    .SliderHomePage-container {

        .section-slider {
            
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}