.SliderHomePage {
    outline: none;
    .SliderHomePage-container {

        .section-slider {
            
            a {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}