.header-top {
    background: #120414;

    .nav-container {

        .header-top-nav {
            margin: 0 100px;

            .nav-logo {
                width: 165px;
                height: 55px;
                background: url('../../../assets/logo/logo.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 20px;
            }

            .nav-menu {
                width: 700px;
                
                .menu-list {
                    width: 100%;
                    list-style: none;
                    font-size: 16px;
                    font-weight: 600;

                    .menu-list_item {
                        cursor: pointer;

                        &:hover {
                            .menu-item {
                                display: block;
                            }

                            .menu-list_item-name {
                                color: #942319 !important;
                            }

                            .icon-down {
                                transform: rotate(180deg);
                                color: #942319;
                            }
                        }

                        .icon-down {
                            font-size: 14px;
                            transition: .4s ease;
                        }

                        .menu-list_item-name {
                            transition: .4s ease;
                        }

                        .menu-item {
                            display: none;
                            top: 40px;
                            left: 0;
                            z-index: 999;
                            animation: identifier ease-in .4s;
                            cursor: default;

                            ul {
                                padding: 10px;
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 4px;

                                li {
                                    width: 19.5%;
                                    text-align: center;

                                    img {
                                        width: 100%;
                                    }

                                    .name-shoes {
                                        font-size: 12px;
                                        color: #333;
                                    }
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 21px;
                                top: -21px;
                            }
                        }
                    }
                }
            }

            .infor {
                width: 150px;

                .search {
                    position: relative;

                    &:hover {
                        .input-search {
                            display: block;
                        }
                    }

                    .input-search {
                        width: 300px;
                        position: absolute;
                        top: calc(100% + 15px);
                        right: -10px;
                        z-index: 99;
                        animation: hiddenShow ease-in .3s;
                        border-radius: 0.375rem;
                        display: none;
                        
                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 0 7.5px 10px 7.5px;
                            border-color: transparent transparent #fff transparent;
                            border-style: solid;
                            top: -9px;
                            right: 12px;
                        }

                        &::after {
                            content: "";
                            width: 80px;
                            height: 20px;
                            position: absolute;
                            top: -20px;
                            right: 0px;
                        }

                        .form-search {
                            position: relative;

                            input {
                                width: 100%;
                                height: 42px;
                                min-height: 42px;
                                border-radius: 0.375rem;
                            }

                            .btn-search {
                                position: absolute;
                                right: 0;
                                top: 0;
                                padding: 10px;
                                cursor: pointer;

                                .icon-search {
                                    font-size: 21px;
                                }
                            }
                        }

                        .results-box {
                            box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
                            border-radius: 0.375rem;
                            overflow: hidden;

                            .results-box_item {

                                a {
                                    display: flex;
                                    gap: 10px;
                                    justify-content: center;
                                    line-height: 1.3;
                                    border-bottom: 1px solid #ebebeb;

                                    &:hover {
                                        .name-product-cart {
                                            color: #942319 !important;
                                        }
                                    }

                                    .results-box_item-img {
                                        width: 70px;
                                    }
                                    
                                    .result-box_item-infor {

                                        .results-box_item-name {
                                            display: -webkit-box;
                                            font-weight: 500;
                                            font-size: 15px;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                            overflow: hidden;
                                        }
    
                                        .results-box_item-price {
                                            font-weight: 600;
                                            float: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .user {
                position: relative;
            
                &:hover {
                    cursor: pointer;
                    
                    .user-link {
                        
                        .box-acc {
                            display: grid;
                        }
                    }
                }

                .user-link {

                    .box-acc {
                        position: absolute;
                        width: 130px;
                        right: -10px;
                        top: calc(100% + 15px);
                        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
                        z-index: 99;
                        text-align: center;
                        border-radius: 0.375rem;
                        animation: hiddenShow ease-in .3s;
                        display: none;
    
                        a {
                            padding: 4px;
    
                            &:hover {
                                color: #942319 !important;
                            }
                        }
    
                        a:first-child {
                            border-bottom: 1px solid #ebebeb;
                        }
    
                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 0 7.5px 10px 7.5px;
                            border-color: transparent transparent #fff transparent;
                            border-style: solid;
                            top: -9px;
                            right: 12px;
                        }
    
                        &::after {
                            content: "";
                            width: 80px;
                            height: 20px;
                            position: absolute;
                            top: -20px;
                            right: 0px;
                        }
                    }
                }
            }

            .love {
                cursor: pointer;
                position: relative;

                .numberTym {
                    position: absolute;
                    // display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #942319;
                    line-height: 14px;
                    top: -5px;
                    font-size: 10px;
                    right: -7px;
                }
            }

            .cart {
                cursor: pointer;
                position: relative;
                // transition: all .4s ease-in-out;
                
                &:hover {
                    .list-items-cart {
                        opacity: 1;
                        display: block !important;
                    }
                }

                .numberProduct {
                    position: absolute;
                    // display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #942319;
                    line-height: 14px;
                    top: -5px;
                    font-size: 10px;
                    right: -7px;
                }
                
                .list-items-cart {
                    width: 350px;
                    position: absolute;
                    top: calc(100% + 15px);
                    right: -10px;
                    z-index: 99;
                    animation: hiddenShow ease-in .3s;
                    opacity: 0;
                    display: none;

                    &::before {
                        content: "";
                        position: absolute;
                        border-width: 0 7.5px 10px 7.5px;
                        border-color: transparent transparent #fff transparent;
                        border-style: solid;
                        top: -9px;
                        right: 12px;
                    }

                    &::after {
                        content: "";
                        width: 80px;
                        height: 20px;
                        position: absolute;
                        top: -20px;
                        right: 0px;
                    }

                    .result-items-cart {
                        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);

                        .result-box_item-infor {
                            
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.icon-infor {
    font-size: 18px;
}

@keyframes identifier {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hiddenShow {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}