.header-top {
    background: #120414;
    color: #fff;

    .nav-container {

        .header-top-nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 100px;

            .nav-logo {
                width: 165px;
                height: 55px;
                background: url('../../../assets/logo/logo.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 20px;
            }

            .nav-menu {
                width: 700px;
                
                .menu-list {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    list-style: none;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    position: relative;
                    margin: 0;

                    .menu-list_item {
                        cursor: pointer;

                        &:hover {
                            .menu-item {
                                display: block;
                            }

                            .menu-list_item-name {
                                color: #942319;
                            }

                            .icon-down {
                                transform: rotate(180deg);
                                color: #942319;
                            }
                        }

                        .icon-down {
                            font-size: 14px;
                            transition: .4s ease;
                        }

                        .menu-list_item-name {
                            padding-right: 6px;
                            transition: .4s ease;
                            color: #fff;
                        }

                        .menu-item {
                            display: none;
                            width: 100%;
                            position: absolute;
                            background: #fff;
                            top: 40px;
                            left: 0;
                            z-index: 999;
                            box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
                            animation: identifier ease-in .4s;
                            cursor: default;

                            ul {
                                padding: 10px;
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 4px;

                                li {
                                    width: 19.5%;
                                    text-align: center;

                                    img {
                                        width: 100%;
                                    }

                                    .name-shoes {
                                        font-size: 12px;
                                        color: #333;
                                    }
                                }
                            }

                            &::before {
                                // background: red;
                                content: "";
                                position: absolute;
                                // width: 94px;
                                width: 100%;
                                height: 21px;
                                top: -21px;
                            }
                        }
                    }
                }
            }

            .infor {
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .search {
                    position: relative;

                    &:hover {
                        .input-search {
                            display: block;
                        }
                    }

                    .input-search {
                        width: 300px;
                        position: absolute;
                        top: calc(100% + 15px);
                        right: -10px;
                        z-index: 99;
                        background: #fff;
                        display: none;
                        
                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 0 7.5px 10px 7.5px;
                            border-color: transparent transparent #fff transparent;
                            border-style: solid;
                            top: -9px;
                            right: 12px;
                        }

                        &::after {
                            content: "";
                            width: 80px;
                            height: 20px;
                            position: absolute;
                            top: -20px;
                            right: 0px;
                        }

                        .form-search {
                            position: relative;

                            input {
                                width: 100%;
                                height: 42px;
                                min-height: 42px;
                                outline: none;
                                border: none;
                                border-bottom: 1px solid #ccc;
                                padding: 10px;
                                color: #999ea1;
                            }

                            .btn-search {
                                position: absolute;
                                background: transparent;
                                border: none;
                                right: 0;
                                top: 0;
                                padding: 10px;
                                cursor: pointer;

                                .icon-search {
                                    font-size: 21px;
                                }
                            }
                        }

                        .results-box {
                            width: 100%;
                            box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);

                            .results-box_item {

                                a {
                                    padding: 10px;
                                    color: #000;
                                    display: flex;
                                    gap: 10px;
                                    justify-content: center;
                                    line-height: 1.3;
                                    border-bottom: 1px solid #ebebeb;

                                    &:hover {
                                        color: #942319;
                                    }

                                    .results-box_item-img {
                                        width: 70px;
                                    }
                                    
                                    .result-box_item-infor {

                                        .results-box_item-name {
                                            display: -webkit-box;
                                            font-size: 16px;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                            overflow: hidden;
                                        }
    
                                        .results-box_item-price {
                                            color: #942319;
                                            font-weight: 600;
                                            float: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .user {
                position: relative;
            
                &:hover {
                    cursor: pointer;
                    
                    .user-link {
                        
                        .box-acc {
                            display: grid;
                        }
                    }
                }

                .user-link {
                    color: #fff;

                    .box-acc {
                        position: absolute;
                        width: 130px;
                        background: #fff;
                        right: 0;
                        top: calc(100% + 15px);
                        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
                        z-index: 99;
                        text-align: center;
                        display: none;
    
                        a {
                            padding: 4px;
    
                            &:hover {
                                color: #0056b3;
                            }
                        }
    
                        a:first-child {
                            border-bottom: 1px solid #ebebeb;
                        }
    
                        &::before {
                            content: "";
                            position: absolute;
                            border-width: 0 7.5px 10px 7.5px;
                            border-color: transparent transparent #fff transparent;
                            border-style: solid;
                            top: -9px;
                            right: 3px;
                        }
    
                        &::after {
                            content: "";
                            width: 80px;
                            height: 20px;
                            position: absolute;
                            top: -20px;
                            right: 0px;
                        }
                    }
                }
            }

            .love {
                cursor: pointer;
                position: relative;

                .numberTym {
                    position: absolute;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #942319;
                    color: #fff;
                    text-align: center;
                    line-height: 14px;
                    border-radius: 100%;
                    top: -5px;
                    font-size: 10px;
                    right: -7px;
                }
            }

            .cart {
                cursor: pointer;
                position: relative;

                .numberProduct {
                    position: absolute;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #942319;
                    color: #fff;
                    text-align: center;
                    line-height: 14px;
                    border-radius: 100%;
                    top: -5px;
                    font-size: 10px;
                    right: -7px;
                }
            }
        }
    }
}

.icon-infor {
    font-size: 18px;
}

@keyframes identifier {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}