.header-top {
    background: #120414;
    color: #fff;

    .container {

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 100px;

            .logo {
                width: 165px;
                height: 55px;
                background: url('../../../assets/logo/logo.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 20px;
            }

            .menu {
                width: 700px;
                
                .menu-list {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    list-style: none;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    position: relative;

                    .menu-list_item {
                        cursor: pointer;

                        &:hover {
                            .menu-item {
                                display: block;
                            }

                            .menu-list_item-name {
                                color: #942319;
                            }

                            .icon-down {
                                transform: rotate(180deg);
                                color: #942319;
                            }
                        }

                        .icon-down {
                            font-size: 14px;
                            transition: .4s ease;
                        }

                        .menu-list_item-name {
                            padding-right: 6px;
                            transition: .4s ease;
                        }

                        .menu-item {
                            display: none;
                            width: 100%;
                            position: absolute;
                            background: #fff;
                            top: 40px;
                            left: 0;
                            z-index: 999;
                            box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
                            animation: identifier ease-in .4s;
                            cursor: default;

                            ul {
                                padding: 10px;
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                gap: 4px;

                                li {
                                    width: 19.5%;
                                    text-align: center;

                                    img {
                                        width: 100%;
                                    }

                                    .name-shoes {
                                        font-size: 12px;
                                        color: #333;
                                    }
                                }
                            }

                            &::before {
                                // background: red;
                                content: "";
                                position: absolute;
                                // width: 94px;
                                width: 100%;
                                height: 21px;
                                top: -21px;
                            }
                        }
                    }
                }
            }

            .infor {
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .icon-infor {
                    font-size: 18px;
                }
            }
        }
    }
}

@keyframes identifier {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}