.intro {
    margin-top: 40px;
    background: #420500;
    margin-bottom: 100px;
    color: #fff;

    .intro-box {

        .intro-menu {

            .intro-item {
                
                h3 {
                    font-size: 14px;
                }

                .intro-icon {
                    font-size: 36px;
                }

                p {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }
}