.product-detail {

    .text-banner {
        font-weight: 500;
        font-size: 14px;
    }

    .active {
        color: #942319;
        border: 1px solid #942319;
    }
    
    .label-select {
        border: 1px solid #ccc;
        cursor: pointer;
    }
    
    .btn-add-cart {
        background: #420500 !important;
    
        &:hover {
            opacity: 0.8;
        }
    }
    
    .btn-add-buy {
        background: #942319 !important;
    
        &:hover {
            opacity: 0.8;
        }
    }
}