.actions {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 99;

    .tym {
        cursor: pointer;
        background: transparent;
        position: relative;
    }
}

.product-same {
    letter-spacing: 10px;
    &:hover {
        color: #942319 !important;
        .icon-hover {
            background: #942319 !important;
        }
    }
    
}