.image-logo {
    width: 165px;
    height: 55px;
    background: url('https://firebasestorage.googleapis.com/v0/b/imagemlb.appspot.com/o/logoPayment%2Fcheckout_logo.png?alt=media&token=d3391d4a-6cd8-4528-848a-f829cade2490');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.list-product-payment {
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0.375rem;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 0.375rem;

    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}