.option-together {

    .option-together-title{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;

        .action-down {
            font-size: 10px;
            float: right;
            padding-top: 4px;
            cursor: pointer;
        }
    }

    .option-together-group {
        line-height: 26px;

        ul {
            padding: 0;

            li {
            
                a {
                    cursor: pointer;
                    font-size: 15px;
                    color: #333333ba;
                    position: relative;

                    i {                                   
                        height: 11px;
                        width: 11px;
                        border: solid 1px #E7E7E7;
                        display: inline-block;
                        margin-right: 10px;
                        border-radius: 100%;
                        top: 1px;
                    }

                    input[type="checkbox"] {
                        display: none;
                    }
            
                    .checkSS {
                        display: block;
                        position: relative;
                        padding-left: 25px;
                        cursor: pointer;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 11px;
                            height: 11px;
                            border: 1px solid #ccc;
                            background-color: #fff;
                            position: absolute;
                            left: 0;
                            top: 6px;
                        }
                    }

                    input[type="checkbox"]:checked + .checkSS::before {
                        border-color: #942319;
                        background: #942319;
                    }

                    input {
                        margin-right: 10px;
                        border: solid 1px #E7E7E7;
                    }
                    .optionSelect {
                        border-color: #942319;
                        background: #942319;
                    }

                    &:hover {
                        color: #942319;

                        i {
                            border-color: #942319;
                        }

                        input {
                            border-color: #942319;
                            color: #942319;
                        }
                    }

                } 
            }
        }
    }
    .hiden-option {
        display: none;
    }
}