.pagination {
    padding-top: 10px;
    align-items: center;
    justify-content: center;

    li {
        padding: 0 2px;

        &.active-pag {
            span {
                background-color: #420500 !important;
                border-color: #420500 !important;
                color: #fff !important;
            }
        }

        span {
            background-color: #cccccc85 !important;
            // border-color: #ccc !important;
            color: #333 !important;
            font-weight: 600 !important;
            cursor: pointer;

            &:hover {
                background-color: #420500 !important;
                border-color: #420500 !important;
                color: #fff !important;
            }
        }
    }
}

.not-product {
    text-align: center;
    color: red;
    font-size: 20px;
}