.manage-product {

    .manage-product-container {
        
        .create {
        
            .btn-add {
                a {
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}

.manage-shoes-create-form {
    overflow-x: clip;
}

.react-datepicker-wrapper {
    width: 100%;
}
