.add-description-product-container {

    .custom-html-style {

        h6 {
            font-size: 1.7rem;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: underline;
            word-spacing: 5px;
        }
    }
}